@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --background-light: #fffef8;
}

html,
body {
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
  background-color: var(--background-light);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

nav {
  height: 100px;
  width: 100%;
}

section#product {
  display: flex;
  align-items: center;

  width: 1200px;
  padding: 0 15px;
}

#product-image {
  width: 50%;
  height: 580px;
  border-radius: 20px;
  object-fit: cover;
}

#product-info {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: top;
  width: 50%;
  height: 580px;
}

.product-name {
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  font-weight: 600;
  font-style: normal;
  margin: 0;
}

.product-price {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 25px;
}

.headings {
  display: inline-flex;
  gap: 0;
}

.info-details > .headings > span {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;
  padding: 10px;
  border-bottom: 0.2px #a7a6a6 solid;
  cursor: pointer;
}

.darkBorderBottom {
  border-bottom: 0.2px #495f11 solid !important;
}

.visibleTransition {
  display: inline-block !important;
  animation-name: visibleTransition;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

@keyframes visibleTransition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.info-details > .paragraphs > span {
  display: none;
  opacity: 0;
  color: #04322f;
  font-family: Mulish;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.2rem;
}

#options {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#available-colors > p,
#available-sizes > p {
  font-family: Mulish;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  margin-bottom: 8px;
}

#color-list,
#size-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.colorDiv {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.sizeDiv {
  font-family: Mulish;
  font-size: 14px;
  padding: 4px;
  border: 0.4px solid #a7a6a6;
  color: #6c6c6c;
  border-radius: 20px;
  cursor: pointer;
}

.selectedColor {
  border: 4px solid var(--background-light);
  outline: 1px solid black;
}

.selectedSize {
  border: 0.4px solid black;
  color: black;
}

#checkout-section {
  margin-top: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2rem;
}

.quantity > p {
  margin: 0;
  margin-bottom: 0.8rem;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
}

.quantity > input[type="number"] {
  border: none;
  border-bottom: 1px solid rgb(136, 136, 136);
  width: 4rem;
  padding: 0.4rem;
}

.quantity > input[type="number"]:focus {
  outline: none;
  border-bottom: 1px solid black;
}

#add-to-cart, #remove-from-cart {
  width: 100%;
  border: none;
  background-color: #b94e31;
  color: #fff;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 3rem;
  cursor: pointer;
}

#add-to-cart:hover, #remove-from-cart:hover {
  background-color: #495f11;
  transition: background-color 250ms linear;
}

@media (min-width: 789px) {
  #product-image {
  }
}
