@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Mulish;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Black with some transparency */
  z-index: 9999; /* Ensure the overlay is on top of other content */
  display: none;
}

nav {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 4rem;
}

button.filters {
  display: none;
  background-color: transparent;
  border-radius: 4px;
  padding-top: 4px;
  cursor: pointer;
}

#navbar.shadow {
  animation-name: shadow;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

@keyframes shadow {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 6.6px 5.9px 12.2px -24px rgba(0, 0, 0, 0.024),
      16.3px 14.6px 33.7px -24px rgba(0, 0, 0, 0.035),
      32.4px 29px 81.1px -24px rgba(0, 0, 0, 0.046),
      78px 70px 269px -24px rgba(0, 0, 0, 0.07);
  }
}

#filters {
  box-sizing: border-box;
  width: 282px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 90px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  z-index: 10000; /* Ensure the element is on top of the overlay */
}

#available-colors > p,
#available-sizes > p,
.range > p {
  font-family: Mulish;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  margin-bottom: 8px;
}

#color-list,
#size-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  gap: 8px;
  align-items: center;
}

.colorDiv {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.sizeDiv {
  font-family: Mulish;
  font-size: 14px;
  padding: 4px;
  border: 0.4px solid #a7a6a6;
  color: #6c6c6c;
  border-radius: 20px;
  cursor: pointer;
}

.selectedColor {
  border: 4px solid var(--background-light);
  outline: 1px solid black;
}

.selectedSize {
  border: 0.4px solid black;
  color: black;
}

.range-slider {
  margin-top: 20px;
  height: 5px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
}
.range-selected {
  height: 100%;
  left: 30%;
  right: 30%;
  position: absolute;
  border-radius: 5px;
  background-color: #1b53c0;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
}

.range-price {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.range-price label {
  margin-right: 5px;
}
.range-price input {
  width: 40px;
  padding: 5px;
}
.range-price input:first-of-type {
  margin-right: 15px;
}

.range {
  margin-top: 2rem;
}

#products {
  box-sizing: border-box;
  max-width: 100vw;
  padding-left: 300px;
  padding-right: 99px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  margin-top: 120px;
  margin-bottom: 120px;
  object-fit: cover;
}

.product > img {
  width: 100%;
  height: 380px;
  border-radius: 20px;
  cursor: pointer;
  object-fit: cover;
}

.product-name {
  margin: 0;
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
}

.product-name:hover {
  color: brown;
}

.product-price {
  margin: 0;
  font-size: 0.84rem;
  font-weight: 500;
  margin-top: 0.2rem;
}

.visibleFilter {
  animation-name: filterSlide;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}

@keyframes filterSlide {
  0% {
    left: -282px;
  }

  100% {
    left: 0px;
  }
}

@media (max-width: 1527px) {
  #products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1235px) {
  #products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 998px) {
  #products {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 60px;
    padding-right: 60px;
  }

  #filters {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -282px;
    background-color: #fff;
  }

  button.filters {
    display: inline-block;
  }
}

@media (min-width: 998px) {
  button.filters {
    display: none !important;
  }

  .overlay {
    display: none !important;
  }
}

@media (max-width: 949px) {
  #products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 672px) {
  #products {
    grid-template-columns: repeat(1, 1fr);
    width: 80vw;
  }
}

@media (max-width: 492px) {
  #products {
    grid-template-columns: repeat(1, 1fr);
    width: 76vw;
    padding: 0;
  }
}
