<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="./products-styles.css" />
  </head>
  <body>
    <nav></nav>
    <main>
      <section id="filters">
        <button class="selectedFilter">All</button>
        <button>New arrivals</button>
        <button>Bestsellers</button>
        <button>Swimware</button>
        <button>Denim Collection</button>
        <button>Shoes</button>
        <button>Dress</button>
        <button>On sale</button>
        <button>Local designers</button>
        <button>Wedding</button>
        <button>Office Wear</button>
        <button>Party Wear</button>
      </section>
      <section id="products">
        <div class="product">
          <img
            src="https://assets-global.website-files.com/645a69e6ff9a558805774bf2/6478c4fc6cf881a8895e0db9_irene-kredenets-WWSCNfShT5M-unsplash-p-500.jpg"
            alt=""
          />
          <p class="product-name">Fancy Mules</p>
          <p class="product-price">$&nbsp;45.00&nbsp;USD</p>
        </div>
        <div class="product">
          <img
            src="https://assets-global.website-files.com/645a69e6ff9a558805774bf2/6478c4fc6cf881a8895e0db9_irene-kredenets-WWSCNfShT5M-unsplash-p-500.jpg"
            alt=""
          />
          <p class="product-name">Fancy Mules</p>
          <p class="product-price">$&nbsp;45.00&nbsp;USD</p>
        </div>
        <div class="product">
          <img
            src="https://assets-global.website-files.com/645a69e6ff9a558805774bf2/6478c4fc6cf881a8895e0db9_irene-kredenets-WWSCNfShT5M-unsplash-p-500.jpg"
            alt=""
          />
          <p class="product-name">Fancy Mules</p>
          <p class="product-price">$&nbsp;45.00&nbsp;USD</p>
        </div>
        <div class="product">
          <img
            src="https://assets-global.website-files.com/645a69e6ff9a558805774bf2/6478c4fc6cf881a8895e0db9_irene-kredenets-WWSCNfShT5M-unsplash-p-500.jpg"
            alt=""
          />
          <p class="product-name">Fancy Mules</p>
          <p class="product-price">$&nbsp;45.00&nbsp;USD</p>
        </div>
      </section>
    </main>
    <script src="./products.js"></script>
  </body>
</html>
